@use '../custom' as *;

body{
    font-family:'Roboto',sans-serif;
    font-size: 62.5%;
}

h2{
    font-family: 'Kaushan Script', cursive;
    font-family: 'Parisienne', cursive;
}

.header{
    padding-top: 3rem;
    padding-bottom: 3rem;
    @include media-breakpoint-up(md){
        padding-top:10rem;
        padding-bottom:10rem;
    }
}